<div class="stack-body" id="Stack">
  <h3 class="tech-header">Tech Stack</h3>
  <div class="tech-body-container">
    <div class="tech-body-text">
      Here are a few of the technologies that I've used across my professional career to build and maintain products.<br>
      I've worked with tools like Angular and Node.js to develop scalable web applications, and used PostgreSQL for <br>
      managing relational data efficiently. For deployment and CI/CD, I've relied on Bitbucket Pipelines to <br>
      streamline development workflows. These technologies have helped me deliver reliable, user-focused solutions <br>
      across different projects.
    </div>
    <!--
      here lets put grid for the images
      on hover the images can grow bigger
      Stretch goal will be to have a description
      under the images but not sure how that will look atm
    -->
  </div>
</div>

