<div id="experience" class="experience-body">
  <h2 id="Intro">
    Experience
  </h2>
  <div class="intro-description">
    - Full Stack Engineer
  </div>
  <ul class="intro-description">
    <li> Wrote clean and efficient typescript APIs and debug to find root
      causes of problems</li>
    <li> Participated as a member of the company's Core Team and implemented
      experiments aimed at improving activation rates by utilizing home-grown
      experiment framework APIs</li>
    <li>Wrote efficient typescript APIs to store, retrieve, and modify data</li>
    <li>Notable Projects: </li>
    <ul class="intro-description">
      <li> Implemented APIs to send and receive data and created database tables
        and functions for integration with Contentful </li>
      <li>  Identified database table requirements and performed data migration
        from one database table structure to another by writing a Postgres </li>
        database script for a project aimed at moving data out of Salesforce
      <li>  Designed and wrote Postgres database functions to dynamically pull the
        most relevant content based on a user's attributes </li>
      <li>  Improved several API's performance by utilizing Kafka and
        improving database query performance </li>
    </ul>
  </ul>
</div>

