.experience-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fefdfd;
  margin-left: 100px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .experience-body {
    margin-left: 40px;
    margin-right: 40px;
  }

  #Intro {
    font-size: 48px;
  }

  .intro-description {
    font-size: 16px;
  }
}

.intro-description {
  font-size: 18px;
}

h2 {
  margin: 0;
}

#Intro {
  font-size: 70px;
  background: linear-gradient(90deg, #FA8072, #7873f5, #FA8072);
  background-size: 200%;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

