<div class="intro-body">
  <span class="intro-question"> Who Am I?</span>
  <h2 id="Intro">
    Michael Denicola
  </h2>
  <div class="intro-description">
    I'm a full stack software developer with 4+ years of professional experience, driven by a deep passion for <br>
    building meaningful and impactful software. I love crafting solutions that not only work seamlessly but also <br>
    genuinely improve the lives of their users. Whether it's solving complex problems or refining the small <br>
    details, I take pride in creating software that makes a difference.
  </div>
</div>

