.intro-body {
  gap: 5px;
}

.project-body {
  gap: 5px;
}

h1 {
  margin: 0;
}


.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;  /* Start with the button hidden */
  transition: opacity 0.3s ease;  /* Smooth transition for showing/hiding */
}

.scroll-button.visible {
  opacity: 1;  /* When the class is added, button becomes visible */
}

.header {
  display: flex;
  border: 1px solid black;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  top:0;
  width: 100%;
}

#header-flex-container {
  display: flex;
  gap: 10px;
}