.intro-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-body {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  margin: 0;
}


.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;  /* Start with the button hidden */
  transition: opacity 0.3s ease;  /* Smooth transition for showing/hiding */
}

.scroll-button.visible {
  opacity: 1;
}

.header {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  top: 0;
  width: 100%;
  background-color: darkgrey;
}

#header-flex-container {
  display: flex;
  gap: 10px;
}

#footer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}


.logos {
  height: 30px;
  width: 30px;
}
