// Header
h1 {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #151414;
  border-color: #5f6a6a;
  border-width: .5px;
  border-style: solid;
  border-top: hidden;
  border-right: hidden;
  color: #fefdfd;
  z-index: 1000;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
}

.button-container {
  display: flex;
  gap: 12px;
}

#buttons {
  background: none;
  border: none;
  font-size: 15px;
  color: #fefdfd;
  cursor: pointer;
  min-width: 100px;
}

#buttons:hover {
  background: linear-gradient(70deg, #FA8072, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s ease;
  font-size: 16px;
}

.gradient-text {
  cursor: pointer;
  background: linear-gradient(90deg, #FA8072, #7873f5, #FA8072);
  background-size: 200%;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s ease;
  margin-left: 50px;
}

.gradient-text:hover {
  background-position: right center;
}

// Intro
.intro-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fefdfd;
  margin-left: 100px;
  margin-top: 100px;
}
.intro-question {
  font-size: 18px;
  align-items: baseline;
}

.intro-description {
  font-size: 18px;
}

h2 {
  margin: 0;
}

#Intro {
  font-size: 70px;
  background: linear-gradient(90deg, #FA8072, #7873f5, #FA8072);
  background-size: 200%;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Experience
.experience-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fefdfd;
  margin-left: 100px;
  margin-bottom: 100px;
}

// Stack
h3 {
 font-size: 70px;
 margin-bottom: 0;
 background: linear-gradient(90deg, #FA8072, #7873f5, #FA8072);
 background-size: 200%;
 background-position: left center;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.tech-header {
  align-self: flex-end;
  margin-right: 100px;
}

.tech-body-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.tech-body-text {
  align-self: flex-end;
  margin-right: 100px;
  font-size: 18px;
  gap: 40px;
}

.stack-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fefdfd;
}



// Footer
.footer-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color:  #5f6a6a;
  border-width: .5px;
  border-style: solid;
  border-right: hidden;
  border-left: hidden;
  border-bottom: hidden;
}

#footer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.links {
  height: 30px;
  width: 30px;
}

.links-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.ph.ph-caret-double-up {
  font-size: 20px;
  color: #fefdfd;
}

.ph.ph-caret-double-up:hover {
  background: linear-gradient(180deg, #FA8072, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px;
}

.ph.ph-copy:hover {
  background: linear-gradient(100deg, #FA8072, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sourced-icons {
  margin-bottom: 5px;
  margin-right: 10px;
  align-content: end;
}

.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-button.visible {
  opacity: 1;
}

