.intro-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fefdfd;
}

.project-body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: #fefdfd;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  margin: 0;
}


.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;  /* Start with the button hidden */
  transition: opacity 0.3s ease;  /* Smooth transition for showing/hiding */
}

.scroll-button.visible {
  opacity: 1;
}

.header {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  top: 0;
  width: 100%;
  background-color: #151414;
  border-color: #fefdfd;
  border-width: .1px;
  border-style: solid;
  border-top: hidden;
  border-right: hidden;
}

#header-flex-container {
  display: flex;
  gap: 10px;
}

#footer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}


.links {
  height: 30px;
  width: 30px;
}


.links-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}



.ph.ph-caret-double-up {
  font-size: 20px;
  color: #fefdfd;
}

.ph.ph-caret-double-up:hover {
  color: #662424;
}



.ph.ph-copy:hover {
  color: #662424;
}


.footer-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: #fefdfd;
  border-width: .5px;
  border-style: solid;
  border-right: hidden;
  border-left: hidden;
}


.sourced-icons {
  margin-bottom: 5px;
  margin-right: 10px;
  align-content: end;
}
