.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
  grid-template-columns: 1fr;
  row-gap: 6.25rem;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0 ;
}

.container > div {
}

.container > div.header {
  grid-area: header;
  padding: 5px;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  padding: 5px;
  grid-area: footer;
}

#footer{
 }
